DD_API_KEY=xxxxx
DD_HOSTNAME=hk-2

PG_MONITOR_HOST=172.17.0.1
PG_MONITOR_PORT=5432
PG_MONITOR_USER=dd_monitor
PG_MONITOR_PASSWORD=xxxxxx
PG_MONITOR_DB=fluxcode

REDIS_MONITOR_HOST=172.17.0.1
REDIS_MONITOR_PORT=6379
REDIS_MONITOR_PASSWORD=xxxxxx
REDIS_MONITOR_USERNAME=dd_monitor
